<div class="guide-wrap">

	<h1>User's Guide</h1>

	<div class="guide-block">
		<h3>What is Trakr?</h3>
		<p>Trakr is a project management application for agile development. It allows you to manage your project based on user stories, and can be updated through your GitHub commits.</p>
	</div>

	<div class="guide-block">
		<h3>Things to Remember</h3>
		<ul>
			<li>Creating a project will automatically create a new GitHub repository.</li>
			<li>Creating a user story will create a branch for it. You don't have to update it yourself.</li>
			<li>You can drag a collaborator from the left side bar and drop it on the bottom part of a user story to assign tasks. Multiple users can be assigned.</li>
			<li>Double clicking on an assigned user will remove the user from the task.</li>
		</ul>
	</div>

</div>