<div id="side-bar">
	<div class="side-bar-content">
		<p><%= current_user.username %></p>
	</div>
</div>
<div id="content">
	<div id="projects"></div>
	<div class="clear"></div>
</div>

<!-- BACKBONE TEMPLATES -->
<script type="text/template" id="project-item-template">
	<div class="project-item-box">
		<div class="project-box-header">
			<h3><%%= name %></h3>
			<div class="project-menu"><i class="fa fa-plus"></i></div>
			<div class="clear"></div>
		</div>
		<div class="project-box-content">
			<p><%%= description %></p>
		</div>
		<div class="project-box-footer">

		</div>
	</div>
</script>
