<div id="side-bar">
	<div class="side-bar-content">
		<p><%= current_user.username %></p>
		<a href="#<%= current_user.username %>" id="trigger-project-input">New Project</a>
	</div>
</div>

<!-- CONTENTS -->
<div id="content">
	<div id="projects"></div>
	<div id="tasks">
		<div class="task-column" id="todo">
			<div class="column-header">
				<h3>To Do</h3>
			</div>
			<div class="column-body">
				<p id="reveal-task-form">Add User Story</p>
			</div>
		</div>
		<div class="task-column" id="doing">
			<div class="column-header">
				<h3>Doing</h3>
			</div>
			<div class="column-body">
			</div>
		</div>
		<div class="task-column" id="done">
			<div class="column-header">
				<h3>Done</h3>
			</div>
			<div class="column-body">
			</div>
		</div>
		<div class="task-column" id="icebox">
			<div class="column-header">
				<h3>Ice Box</h3>
			</div>
			<div class="column-body">
			</div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div id="project-input">
	<div id="project-input-inner">
		<div class="project-input-header">
			<h3>Add new project</h3>
		</div>
		<div class="project-input-content">
			<div class="form-wrap">
				<p>Project Name</p>
				<p><input type="text" id="project-name"></p>
				<p>Description</p>
				<p><input type="text" id="project-description"></p>
				<p>End Date</p>
				<p><input type="date" id="project-date"></p>
				<p>Collaborators</p>
				<ul class="taggable-list">
					<li class="input-list-item"><input type="text" id="project-collaborators"></li>
				</ul>
				<input type="submit" id="project-input-submit">
			</div>
		</div>
	</div>
</div>

<div id="task-input">
	<div id="task-input-inner">
		<div class="task-input-header">
			<h3>Add new user story</h3>
		</div>
		<div class="task-input-content">
			<div class="task-form">
				<p>Task Name</p>
				<p><input type="text" id="task-name"></p>
				<p>Due Date</p>
				<p><input type="date" id="due-date"></p>
				<p>Assignees</p>
				<input type="submit" id="task-input-submit">
			</div>
		</div>
	</div>
</div>

<!-- BACKBONE TEMPLATES -->
<script type="text/template" id="project-item-template">
	<div class="project-item-box">
		<div class="project-box-header">
			<h3><a href="#<%%= name %>" id="show-project"><%%= name %></a></h3>
			<div class="project-menu"><i class="fa fa-plus"></i></div>
			<div class="clear"></div>
		</div>
		<div class="project-box-content">
			<p><%%= description %></p>
		</div>
		<div class="project-box-footer">
			<ul class="projects-view-collaborators">
				<%% _.each(collaborators, function(collaborator) { %>
					<li><img src="<%%= collaborator %>"></li>
				<%% }); %>
			</ul>
		</div>
	</div>
</script>