form {

  .input-field {
    width: calc(100% - 20px);
    font-family: 'Source Sans Pro';
    font-size: 14px;
    padding: 7px 10px 7px 10px;
    border-radius: 3px;
    margin-bottom: 10px;
  }

  .input-field:focus {
    outline: none;
  }

  .submit-button {
    width: 100%;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    background-color: #82BAEB;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
  }

  .submit-button:hover {
    background-color: #5C9FDB;
  }

  p {
    margin-bottom: 10px;
  }

}
