#task-input {
	display: none;
	input { width: 100%; border: solid 1px lightgray; margin-bottom: 10px; }
	input[type='submit'] { background-color: #48D583; height: 30px; line-height: 30px; color: white; border-radius: 3px; }
}