$sidebarwidth: 200px;
$taskswidth: 980px + 15px;
$taskboxmargin: 15px;
$taskboxwidth: (980px - 45px) / 4;
$taskboxheight: 180px;
$taskboxbgcolor: white;

#side-bar {
	width: $sidebarwidth;
	height: 100%;
	position: fixed;
	left: 0;
	background-color: #59D98E;
	color: white;
	.side-bar-content {
		margin: 40px 15px 40px 15px;

	}
	.side-bar-content img {
		height: 100px; 
		border-radius: 50%;
		margin: 10px 40px 10px 40px;
	}
}

#content {
	margin-left: $sidebarwidth;
	padding: 40px;
	#tasks {
		width: 980px;
		margin: 0 auto;
		.task-list {
			width: $taskswidth;
			margin-right: -15px;
			background-color: yellow;
			list-style-type: none;
			padding: 0;
			.task-item {
				display: box;
				float: left;
				margin-right: $taskboxmargin;
				margin-bottom: $taskboxmargin;
				.task-item-box {
					width: $taskboxwidth;
					height: $taskboxheight;
					background-color: $taskboxbgcolor;
					border-radius: 5px;
					.task-box-header {
						height: 40px;
						background-color: #48D583;
						border-radius: 5px 5px 0 0;
						h3 {
							float: left;
							text-transform: uppercase;
							line-height: 20px;
							padding: 10px 0 0 10px;
							font-size: 16px;
							color: white;
						}
						.task-menu {
							float: right;
							i { color: white; font-size: 16px; line-height: 20px; margin: 12px 10px 0 0; }
						}
					}
					.task-box-content {
						height: 57px;
						padding: 10px;
						p { font-size: 14px; }
					}
					.task-box-footer {
						background-color: #9BE8BB;
						overflow: hidden;
						padding: 5px 10px 5px 10px;
						border-radius: 0 0 5px 5px;
						.tasks-view-collaborators {
							li { display: inline; margin-right: 3px; }
							img { height: 50px; border-radius: 50%; }
						}
					}
				}
				.task-item-box:hover {
					transition: all .2s;
					transform:rotate(3deg);
					-webkit-transform:rotate(3deg);
				}
			}
		}
	}
}

#task-input {
	display: none;
}

#tasks {
	.task-column {
		width: 320px;
		float: left;
		margin-right: 10px;
		background-color: $taskboxbgcolor;
		min-height: 100px;
		border-radius: 5px;
		.column-header {
			height: 40px;
			background-color: #48D583;
			border-radius: 5px 5px 0 0;
			h3 {
				float: left;
				text-transform: uppercase;
				line-height: 20px;
				padding: 10px 0 0 10px;
				font-size: 16px;
				color: white;
			}			
		}
		.column-body {
			padding: 10px;
			#reveal-task-form {
				text-align: center;
				background-color: #48D583;
				border-radius: 3px;
				height: 30px;
				line-height: 30px;
				color: white;
				margin-top: 5px;
				cursor: pointer;
			}
		}
	}
	#done { margin-right: 0; }
	#icebox { display: none; }
}