$sidebarwidth: 200px;
$projectswidth: 980px + 15px;
$projectboxmargin: 15px;
$projectboxwidth: (980px - 45px) / 4;
$projectboxheight: 180px;
$projectboxbgcolor: white;

.shadow { box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.3); }
.clear { clear: both; }

body {
	height: 100%;
	font-family: 'Roboto Condensed';
	color: #666;
	background-color: #f5f5f5;
}

#side-bar {
	width: $sidebarwidth;
	height: 100%;
	position: fixed;
	left: 0;
	background-color: #59D98E;
	color: white;
	.side-bar-content {
		margin: 40px 15px 40px 15px;
	}
}

#content {
	margin-left: $sidebarwidth;
	padding: 40px;
	#projects {
		width: 980px;
		margin: 0 auto;
		.project-list {
			width: $projectswidth;
			margin-right: -15px;
			background-color: yellow;
			list-style-type: none;
			padding: 0;
			.project-item {
				display: box;
				float: left;
				margin-right: $projectboxmargin;
				margin-bottom: $projectboxmargin;
				.project-item-box {
					width: $projectboxwidth;
					height: $projectboxheight;
					background-color: $projectboxbgcolor;
					border-radius: 5px;
					.project-box-header {
						height: 40px;
						background-color: #48D583;
						border-radius: 5px 5px 0 0;
						h3 {
							float: left;
							text-transform: uppercase;
							line-height: 20px;
							padding: 10px 0 0 10px;
							font-size: 16px;
							color: white;
						}
						.project-menu {
							float: right;
							i { color: white; font-size: 16px; line-height: 20px; margin: 12px 10px 0 0; }
						}
					}
					.project-box-content {
						padding: 10px;
						p { font-size: 14px; }
					}
				}
				.project-item-box:hover {
					transition: all .2s;
					transform:rotate(3deg);
					-webkit-transform:rotate(3deg);
				}
			}
		}
	}
}